[submodule "adder/Verilog-Adders"]
	path = adder/Verilog-Adders
	url = https://github.com/mongrelgem/Verilog-Adders.git
[submodule "adder/Digital_Adders_Verilog"]
	path = adder/Digital_Adders_Verilog
	url = https://github.com/Ams0x57/Digital_Adders_Verilog
